<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
</head>
<body>

    <h1>Here are the Product Details</h1>
    
        <div style="margin-top: 2em;">
            <p>Name: {{prod.name}}</p>
            <p>Description: {{prod.description}}</p>
            <p>Category: {{prod.category}}</p>
            <p>Sub Category:</p>
            {% for sub_cat in prod.sub_category.all %}
                <ul>
                    <li>{{sub_cat}}</li>
                </ul>    
            {% endfor %}
            <p>Dimensions:</p>
            {% for dfield in dimensions %}
                {{ dfield.d_field_name }}
                {{ dfield.d_field_value }}
            {% endfor %}
            <p>Primary Material:</p>
            {% for mfield in pm %}
                {{ mfield.m_field_name }}
                {{ mfield.m_field_value }}
            {% endfor %}
            <br>
            {% for image in prod.images_set.all %}
                <img src="{{image.image.url}}" alt="" width="100" height="100">
            {% endfor %}
        </div>

</body>
</html>