{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <a href="{% url 'catalog:approve_staff' %}"><button>Pending for approval Staff Accounts</button></a>
    <a href="{% url 'catalog:categories_display' %}"><button>View Categories</button></a>
    <a href="{% url 'catalog:sub_categories_display' %}"><button>View Sub-Categories</button></a>
    <a href="{% url 'catalog:product_add' %}"><button>Add Product</button></a>
    <a href="{% url 'catalog:category_add' %}"><button>Add a new Category</button></a>
    <a href="{% url 'catalog:sub_category_add' %}"><button>Add a new Sub-Category</button></a>
    <a href="{% url 'catalog:search' %}"><button>Product Search</button></a>
    <a href="{% url 'catalog:cart_display' %}"><button>Cart</button></a>

    <h1>Here are the Products</h1>
    {% for prod in products %}
        
    
        <div style="
            margin: 2em;
            margin-left: 32%; 
            text-align: center;
            border: 1px solid black;
            width: 30%;
        ">
            <a href="{% url 'catalog:prod_display' prod.slug %}">
                <p>{{prod.name}}</p>
            </a>
            {% for image in prod.images_set.all %}
            <a href="{% url 'catalog:prod_display' prod.slug %}">
                <img src="{{image.image.url}}" alt="" width="100" height="100">
            </a>
            {% endfor %}
            <br><br>

            <form action="{% url 'catalog:cart_display' %}" method="post" id="{{prod.id}}" name="{{prod.id}}">
                {% csrf_token %}
                {% bootstrap_form addtocartForm %}
                <input type="hidden" name="product" value="{{ prod.id }}">
                <br>
                <button type="submit" name='addtocart' id="addtocart" >Add to Cart</button> 
                <!-- Need to show only one of the buttons at a time. Initally add to cart and once item is added,
                     need to disable add and show remove -->
                <button type="submit" name='removefromcart' id="removefromcart">Remove from Cart</button>
            </form>
            <br><br>
        </div>
    

    {% endfor %}

</body>
</html>