<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Product</title>
</head>
<body>

  <form method="get">
    {{ product_filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for prod in product_filter.qs %}
    <li>{{prod.name}}</li>
    {% for image in prod.images_set.all %}
    <img src="{{image.image.url}}" alt="" width="100" height="100">
    {% endfor %}
  {% endfor %}
  </ul>

</body>
</html>